div {
  text-align: center;
}

p {
max-width: 400px;
}

html {
box-sizing: border-box;
}

h1 {
 font-family: 'Barlow', "Arial", sans-serif;
 font-size: 30px;
}

body {
  font-family: "Playfair Display", "Times", serif;
  color: #fff;
  background: #754364;
  padding-bottom: 2rem;

}

.album-cover {
 max-height: 400px;
cursor: pointer;
}

/* flexbox */
article {
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 align-items: center;
 justify-content: center;
}
/* my pseudo classes */
a {
    color: #379CB2;
}
a:hover {
    color: #82E8FF;
}

/* media queries  */
@media screen and (max-width: 455px) {
 body {
   margin: 2rem;
   padding: 1rem;
 }
  p {
  max-width: 500px;
  }
  img {
  max-height: 200px;

}

article {
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;

}
  .album-cover {
   max-width: 140px;
   max-height: 130px;
cursor: pointer;

 }

}
